.container{
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.container *{
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  margin: 0 0.5rem;
  font-weight: bold;
  color: black;
  opacity: 0.8;
}
.container >:hover{
  opacity: 1;
  scale: 1.1;
}

.user:hover{
  opacity: 0.8;
  scale: 1;
}
.user img{
  width: 1.7rem;
  border-radius: 50%;
}

.login{
  border: none;
  height: 1.5rem;
  background-color: #d05a5a;
  color: white;
  font-weight: 600;
  font-size: 1.05rem;
  border-radius: 10%;
  cursor: pointer;
}